In [1]:
import pymongo as pymongo
import base64
import cv2
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
#Read only mongodb connection
MONGO_URL = 'mongodb://findOnlyReadUser:RojutuNHqy@unimahealth.ddns.net:27017/datamap'
client = pymongo.MongoClient(MONGO_URL)

In [3]:
db = client.datamap

In [4]:
#Query
query = {'qrCode': {'$regex': '6991710003000*'}, 'date': '2017-10-27', 'appVersion': '0.4.1', 'count': {'$gt': 0}}

In [5]:
cursor_reg = db.registerstotals.find(query)
if(cursor_reg): 
    print("Records found: " + str(cursor_reg.count()))
    
else: 
    print("No records!")

Records found: 13

In [6]:
df = pd.DataFrame(list(cursor_reg))

In [7]:
columns = ['qrCode', 'date', 'marker', 'hour', 'location', 'count']
df = df[columns]
df.drop_duplicates(subset = "qrCode", inplace = True)
df.set_index("qrCode", inplace=True, drop = False)

In [8]:
df.head()

,qrCode,date,marker,hour,location,count
qrCode,,,,,,
699171000300001,699171000300001,2017-10-27,"[{'name': 'ESAT6', 'result': 'Positive', 'numb...",10:59:36,"[{'latitude': 20.6983699798584, 'longitude': -...",32
699171000300002,699171000300002,2017-10-27,"[{'name': 'ESAT6', 'result': 'Negative', 'numb...",11:00:27,"[{'latitude': 20.6983699798584, 'longitude': -...",30
699171000300003,699171000300003,2017-10-27,"[{'name': 'ESAT6', 'result': 'Negative', 'numb...",11:04:08,"[{'latitude': 20.6983699798584, 'longitude': -...",30
699171000300013,699171000300013,2017-10-27,"[{'name': 'ESAT6', 'result': 'Negative', 'numb...",11:25:31,"[{'latitude': 20.6983699798584, 'longitude': -...",28
699171000300014,699171000300014,2017-10-27,"[{'name': 'ESAT6', 'result': 'Positive', 'numb...",11:26:36,"[{'latitude': 20.6983699798584, 'longitude': -...",30

### Normalization of Markers

In [9]:
df_normalized = pd.DataFrame()
for r in df.iterrows():
    dfGen = json_normalize(r[1].marker)
    for i,m in enumerate(dfGen.name):
        dfGen["marker." + str(m)] = dfGen.result[i]
    dfGen['qrCode'] = r[1].qrCode
    frames = [df_normalized, dfGen[['qrCode', 'marker.ESAT6', 'marker.CFP10', 'marker.RV1681',
                                    'marker.P24', 'marker.P26', 'marker.Control']]]
    df_normalized = pd.concat(frames)

In [10]:
df_normalized.drop_duplicates(subset = "qrCode", inplace = True)
df_normalized.sort_values(by = "qrCode", inplace = True)
df_normalized['marker.Control'][df_normalized['marker.Control'] == "Negative"] = "Valid"
df_normalized['marker.Control'][df_normalized['marker.Control'] == "Positive"] = "Invalid"
df_normalized.set_index("qrCode", inplace=True)
df_normalized.head()

,marker.ESAT6,marker.CFP10,marker.RV1681,marker.P24,marker.P26,marker.Control
qrCode,,,,,,
699171000300001,Positive,Negative,Negative,Negative,Negative,Valid
699171000300002,Negative,Negative,Negative,Negative,Negative,Valid
699171000300003,Negative,Negative,Negative,Negative,Negative,Valid
699171000300004,Negative,Negative,Negative,Negative,Negative,Valid
699171000300005,Negative,Negative,Negative,Negative,Negative,Valid

### Normalization of location

In [11]:
df_normalized_loc = pd.DataFrame()
for r in df.iterrows():
    dfGen = json_normalize(r[1].location)
    for i,m in enumerate(dfGen.latitude):
        dfGen['latitude'] = m
        dfGen['longitude'] = dfGen.longitude[i]
    dfGen['qrCode'] = r[1].qrCode
    frames = [df_normalized_loc, dfGen[['qrCode', 'latitude', 'longitude']]]
    df_normalized_loc = pd.concat(frames)

In [12]:
df_normalized_loc.drop_duplicates(subset = "qrCode", inplace = True)
df_normalized_loc.set_index("qrCode", inplace=True)
df_normalized_loc.head()

                 latitude   longitude
qrCode
699171000300001  20.69837 -103.411476
699171000300002  20.69837 -103.411476
699171000300003  20.69837 -103.411476
699171000300013  20.69837 -103.411476
699171000300014  20.69837 -103.411476

In [13]:
columns = ['date', 'hour', 'count']
df = df[columns]
df_normalized_loc = pd.merge(df_normalized_loc, df_normalized, how='inner', left_index = True, right_index = True)
df_final = pd.merge(df_normalized_loc, df, how='inner', left_index = True, right_index = True)

In [14]:
df_final.sort_index(inplace = True)
df_final

,latitude,longitude,marker.ESAT6,marker.CFP10,marker.RV1681,marker.P24,marker.P26,marker.Control,date,hour,count
qrCode,,,,,,,,,,,
699171000300001,20.69837,-103.411476,Positive,Negative,Negative,Negative,Negative,Valid,2017-10-27,10:59:36,32
699171000300002,20.69837,-103.411476,Negative,Negative,Negative,Negative,Negative,Valid,2017-10-27,11:00:27,30
699171000300003,20.69837,-103.411476,Negative,Negative,Negative,Negative,Negative,Valid,2017-10-27,11:04:08,30
699171000300004,20.69837,-103.411476,Negative,Negative,Negative,Negative,Negative,Valid,2017-10-27,11:56:03,30
699171000300005,20.69837,-103.411476,Negative,Negative,Negative,Negative,Negative,Valid,2017-10-27,12:16:03,30
699171000300006,20.69837,-103.411476,Negative,Negative,Negative,Negative,Negative,Valid,2017-10-27,12:30:12,29
699171000300011,20.69837,-103.411476,Negative,Negative,Negative,Negative,Negative,Valid,2017-10-27,13:32:55,30
699171000300012,20.69837,-103.411476,Negative,Negative,Negative,Negative,Negative,Valid,2017-10-27,13:51:27,29
699171000300013,20.69837,-103.411476,Negative,Negative,Negative,Negative,Negative,Valid,2017-10-27,11:25:31,28
699171000300014,20.69837,-103.411476,Positive,Negative,Negative,Negative,Negative,Valid,2017-10-27,11:26:36,30
699171000300023,20.69837,-103.411476,Negative,Negative,Negative,Negative,Negative,Valid,2017-10-27,13:40:35,1