In [1]:
import pandas as pd
import numpy as np
import json
import pymongo as pymongo
from pandas.io.json import json_normalize

In [2]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [3]:
clientApp = pymongo.MongoClient("mongodb://findOnlyReadUser:RojutuNHqy@unimahealth.ddns.net:27017/datamap")
dbApp = clientApp.datamap
resultsApp = dbApp.registerstotals

In [4]:
#Resultados app
resultsApp_db = resultsApp.find()
resultsApp_list = list (resultsApp_db)
dfApp = pd.DataFrame(resultsApp_list)
dfApp = dfApp.iloc[:,2:]
#dfApp.head()

### Normalizando los Json para separar los marcadores

In [5]:
#columnasProd son las columnas que se extraen de los resultados del app. No mover
columnasProd = ['address', 'age', 'appVersion', 'control', 'count', 'createdAt', 'date', 'disease', 'gender', 'hour', 'location', 'macaddress', 'marker',
       'qrCode']
dfProd = pd.DataFrame(resultsApp_list)
dfProd = dfProd.loc[:, columnasProd].values

In [6]:
ind = 0
dfNormalizado = pd.DataFrame()
for qr in dfProd:
    jsonNormal = json_normalize(qr[12])
    dfGen = pd.DataFrame({'age': [qr[1]],'appVersion': [qr[2]], 'createdAt_App': [qr[5]], 'date': [qr[6]],'gender': [qr[8]],'hour': [qr[9]],'macaddress': [qr[11]],'QR': [qr[13]], 'ESAT6': [jsonNormal.result[0]], 'CFP10': [jsonNormal.result[1]], 'RV1681': [jsonNormal.result[2]], 'P24': [jsonNormal.result[3]], 'P26': [jsonNormal.result[4]], 'Control': [jsonNormal.result[5]]}, index= [ind])
    frames = [dfNormalizado, dfGen]
    dfNormalizado = pd.concat(frames)
    ind = ind+1
dfNormalizado = dfNormalizado.replace(to_replace='Positive', value='P')
dfNormalizado = dfNormalizado.replace(to_replace='Negative', value='N')
dfNormalizado = dfNormalizado.replace(to_replace='Inconclusive', value='I')
dfNormalizado = dfNormalizado.convert_objects(convert_numeric=True)
#dfNormalizado.head()

/Users/rodolfo.melin/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:12: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

#### Descargando  los resultados del laboratorio

In [7]:
clientLab = pymongo.MongoClient("idenmon.zapto.org", 888)
dbLab = clientLab.prodLaboratorio
resultsLab = dbLab.resultsExperiments

In [8]:
resultsLab_db = resultsLab.find()
resultsLab_list = list (resultsLab_db)
dfLab= pd.DataFrame(resultsLab_list)
dfLab= dfLab.iloc[:,1:]
#dfLab.head()

In [9]:
columnasParaGuardar = ['CFP10', 'ESAT6', 'RV1681', 'P24', 'id', 'age', 'appVersion', 'Control', 'createdAt_App', 'date', 'gender', 'hour', 'macaddress',
       'QR']
dfNormalizado.set_index(['QR'])
dfLab.set_index(['qr'])
joined_table = pd.merge(left=dfLab,right=dfNormalizado, how='left', left_on=['qr'], right_on=['QR'])
joined_table = joined_table.loc[:,columnasParaGuardar]
#joined_table.head()

#### Descargando los datos de diagnostico confirmado y completando el DF

In [10]:
clientConfirm = pymongo.MongoClient("idenmon.zapto.org", 888)
dbConfirm = clientConfirm.prodLaboratorio
resultsConfirm = dbConfirm.MasterDiagnostico

In [11]:
columnasConfirm = ['CFP10', 'ESAT6', 'RV1681', 'P24', 'CODIGO']
resultsConfirm_db = resultsConfirm.find()
resultsConfirm_list = list (resultsConfirm_db)
dfConfirm= pd.DataFrame(resultsConfirm_list)
dfConfirm = dfConfirm.loc[:, columnasConfirm]

In [12]:
dfConfirm.set_index(['CODIGO'])
colHeaders = ['CFP10_DIAG', 'ESAT6_DIAG', 'RV1681_DIAG', 'P24_DIAG', 'CODIGO']
dfConfirm.columns=colHeaders
#dfConfirm.head()

In [13]:
joined_table.set_index(['id'])
dfFullReport = pd.merge(left=joined_table,right=dfConfirm, how='left', left_on=['id'], right_on=['CODIGO'])
#dfFullReport.head()

In [14]:
colsFinal=['CFP10', 'ESAT6', 'RV1681', 'P24', 'Control' , 'CFP10_DIAG', 'ESAT6_DIAG', 'RV1681_DIAG', 'P24_DIAG', 'CODIGO', 'age', 'appVersion', 'createdAt_App', 'date', 'gender', 'hour', 'macaddress', 'QR']
dfFinal =dfFullReport.loc[:,colsFinal]
#dfFinal.tail()

#### Arreglos al DF previos a su almacenamiento:

In [15]:
dfFinal.loc[:,'appVersion'] = dfFinal.loc[:,'appVersion'].replace('', '0.1.0')
dfFinal['appVersion'] = dfFinal['appVersion'].fillna("0.1.0")
dfFinal[['age','QR' ]] = dfFinal[['age','QR' ]].apply(pd.to_numeric)

In [16]:
colResult=['CFP10', 'CFP10_DIAG', 'ESAT6', 'ESAT6_DIAG', 'RV1681', 'RV1681_DIAG', 'P24', 'P24_DIAG']
for proteina in colResult:
    dfFinal[proteina] = dfFinal[proteina].str.upper()

In [17]:
pos = 'P'
neg = 'N'
ind = 'I'

In [18]:
proteinas =['CFP10',  'ESAT6',  'RV1681',  'P24']
for proteina in proteinas:
    dfFinal[proteina+'_Comp'] = np.where((dfFinal[proteina+'_DIAG']== pos)&(dfFinal[proteina]==pos), 'TP','')
    dfFinal[proteina+'_Comp'] = np.where((dfFinal[proteina+'_DIAG']== pos)&(dfFinal[proteina]==neg), 'FN',dfFinal[proteina+'_Comp'])
    dfFinal[proteina+'_Comp'] = np.where((dfFinal[proteina+'_DIAG']== neg)&(dfFinal[proteina]==neg), 'TN',dfFinal[proteina+'_Comp'])
    dfFinal[proteina+'_Comp'] = np.where((dfFinal[proteina+'_DIAG']== neg)&(dfFinal[proteina]==pos), 'FP',dfFinal[proteina+'_Comp'])
    dfFinal[proteina+'_Comp'] = np.where((dfFinal[proteina+'_DIAG']== ind)|(dfFinal[proteina]==ind), 'IND',dfFinal[proteina+'_Comp'])
    dfFinal[proteina+'_Comp'] = np.where((dfFinal['Control']== ind)|(dfFinal['Control']==pos), 'INVALID',dfFinal[proteina+'_Comp'])
#dfFinal.head()

### Eliminamos los datos que ya se encuentran en la BD

In [19]:
labpruebas = dbLab.joinedLabApp
resLabPruebas = list(labpruebas.find())
rows_db = len(resLabPruebas)

In [20]:
print(rows_db)

1025

In [21]:
qrCode=[]
codigoCode=[]
if rows_db != 0: 
    for n in range(0,rows_db):
        if 'QR' in resLabPruebas[n].keys():
            qrCode.append(resLabPruebas[n]['QR'])
        if 'qr' in resLabPruebas[n].keys():
            qrCode.append(resLabPruebas[n]['qr'])
        codigoCode.append(resLabPruebas[n]['CODIGO'])

In [22]:
dfRed = pd.DataFrame
dfRed = dfFinal.drop(dfFinal[dfFinal['CODIGO'].isin(codigoCode)].index & dfFinal[dfFinal['QR'].isin(qrCode)].index )
#dfRed.tail()

In [23]:
joined_table_string = dfRed.to_json(orient = 'records')
l = json.loads(joined_table_string)

In [24]:
#Insertar JSON a mongoDB
if l:
    labpruebas.insert_many(l)
else:
    print('No hay datos para guardar')

In [25]:
rows_output = (len(list(labpruebas.find())))
rows_insert = len(dfRed)
ok_flag = (rows_insert == (rows_output-rows_db))
ok_flag

True

In [26]:
dfFinal.head()

,CFP10,ESAT6,RV1681,P24,Control,CFP10_DIAG,ESAT6_DIAG,RV1681_DIAG,P24_DIAG,CODIGO,...,createdAt_App,date,gender,hour,macaddress,QR,CFP10_Comp,ESAT6_Comp,RV1681_Comp,P24_Comp
0,N,I,N,P,N,N,N,N,P,101-VP,...,2017-05-19 22:37:53.264,2017-05-19,Male,22:39:43,a0:39:f7:1b:af:49,601170500100160,TN,IND,TN,TP
1,N,I,N,P,N,N,N,N,P,101-VP,...,2017-05-19 23:01:58.356,2017-05-19,Male,18:01:57,02:00:00:00:00:00,601170500100160,TN,IND,TN,TP
2,N,I,N,P,N,N,N,N,P,101-VP,...,2017-05-30 17:46:47.171,2017-05-30,Male,12:49:43,a0:39:f7:96:f4:95,601170500100160,TN,IND,TN,TP
3,P,N,N,P,N,N,N,N,P,101-VP,...,2017-08-08 20:31:17.466,2017-08-08,Male,15:31:11,a0:39:f7:1b:af:49,601170500100160,FP,TN,TN,TP
4,N,N,N,N,N,N,N,N,P,105-VP,...,2017-05-19 22:29:19.869,2017-05-19,Male,22:31:14,a0:39:f7:1b:af:49,601170500100147,TN,TN,TN,FN